# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.settings/
.vscode/
bin/
.classpath
.project

# MacOS
*.DS_Store

# Minecraft/Fabric
run/


# Java
hs_err_*.log
replay_*.log
*.hprof
*.jfr
Version.lnk
/remappedSrc/
crowdin-translate-1.2.jar
crowdin.jar
translate.bat
src/main/resources/vanillaenhanced.timestamp
.gitconfig
*.lnk
